* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0d0f2e -20%, #1F2377 100%);
    margin: 0 auto;
    width: 100%;
    background-size: 400% 400%;
    animation: gradientAnimation 6s ease-in-out infinite;
    overflow-x: hidden;
}

#contenedorNavBar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: fit-content;
    margin-top: 0vh;
    background-color: #0a0a1c62;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
}

#contenedorNavBarMovil {
    display: none;
}

#contenedorTitulo {
    width: fit-content;
    height: 10vh;
    margin-left: 2vw;
}

h2 {
    font-family: "Rajdhani", sans-serif;
    font-size: 32pt;
    color: white;
    margin-top: 2vh;
}

#linkTitulo {
    text-decoration: none;
    color: black;
}

#NavBar {
    margin-left: 22vw;
    display: flex;
    justify-content: end;
    width: 22vw;
    gap: 3vw;
}

.opcionNavBar {
    font-size: 16pt;
    width: fit-content;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e5e5e5a1;
}

.opcionNavBar:hover {
    color: rgba(255, 255, 255, 0.76);
}

#contenedorMain {
    margin-top: 12vh;
    margin-bottom: 3vh;
    display: grid;
    justify-content: center;
}

#tituloFullstack, #tituloNombre{
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    line-height: 3vh;
}

#tituloFullstack {
    font-size: 55pt;
    color: rgb(94, 164, 255);
}

#tituloNombre {
    font-size: 45pt;
}

#contenedorFoto {
    width: fit-content;
    margin-left: 10vw;
}

#imagenAlex {
    width: 150px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px black;
}

#contenedorInfoPrincipal {
    width: fit-content;
}

#contenedorParrafoPrincipal {
    display: flex;
    align-items: center;
    padding-left: 20vw;
    gap: 70px;
}

#parrafoTexto {
    width: 35vw;
    font-family: "Raleway", sans-serif;
    color: white;
    line-height: 3vh;
    font-size: 16pt;
    margin-left: -2vw;
}

#contenedorBotones {
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contenedorBotones button {
    padding: 0 20px;
}

#botonGithub {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 12pt;
    margin-right: 50px;
    border-radius: 6px;
    background-color: #575757;
    border-color: transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

#botonGithub:hover {
    transform: translateY(-1px) scale(1.03); 
    cursor: pointer;
}

#botonGithub:active {
    box-shadow: none;
    transform: scale(0.98);
}

#botonLinkedin {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 12pt;
    margin-right: 50px;
    border-radius: 6px;
    background-color: #003cff;
    border-color: transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

#botonLinkedin:hover {
    transform: translateY(-1px) scale(1.03); 
    cursor: pointer;
}

#botonLinkedin:active {
    box-shadow: none;
    transform: scale(0.98);
}

#botonDescarga {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 12pt;
    border-radius: 6px;
    background-color: #27b82e;
    border-color: transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

#botonDescarga:hover {
    transform: translateY(-1px) scale(1.03); 
    cursor: pointer;
}

#botonDescarga:active {
    box-shadow: none;
    transform: scale(0.98);
}

.iconoBoton {
    width: 27px;
}

.enlaceBoton {
    padding: 12px 15px;
    text-decoration: none;
    color: white;
}

#contenedorMasInformacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10vh;
    padding-bottom: 60px;
    margin-left: 25vw;
}

#iconoFlechaMasInfo {
    width: 30px;
    animation: bounce 2s infinite;
}

#iconoFlechaMasInfo:hover {
    cursor: pointer;
}

#masInfoTxt {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

#masInfoTxt:hover {
    cursor: pointer;
}

#divSeparador {
    min-height: 80px;
}

#tecnologiasAprendidas {
    margin-top: 50px;
    text-align: center;
}

#textoTecnologias {
    font-family: "Raleway", sans-serif;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 16pt;
    width: 30%;
}

#contenedorTecnologias {
    margin: auto;
    width: 50%;
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    gap: 100px;
    margin-bottom: 10vh;
}

#contenedorTecnologias img {
    display: flex;
    gap: 20px;
    width: 100px;
}

#contenedorTecnologias h3 {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 20pt;
    text-align: center;
}

#backend {
    border-radius: 10px;
    background-color: #0d0f2eb9;
}

#frontend {
    border-radius: 10px;
    background-color: #0d0f2eb9;
}

#frameworks {
    border-radius: 10px;
    background-color: #0d0f2eb9;
}

#controlVersiones {
    border-radius: 10px;
    background-color: #0d0f2eb9;
}

.cuadroTecnologia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tecnologias {
    border: 3px solid rgb(94, 164, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-top: 30px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 5px);
    }
    50% {
        transform: translate(-50%, -10px);
    }
}

